* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
}

header { 
    background: #000;
    color: white;
    padding: 10px 20px;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.logo {
    font-size: 150%;
    font-weight: bold;
}

a {
    color: inherit;
    font-size: 125%;
    text-decoration: none;
    
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links a {
    color: inherit;
    font-size: 125%;
    text-decoration: none;
    
}

div.nav-links a:hover {
    text-decoration: underline;
}
div.nav-links a:visited {
    text-decoration: none;
}
.container {
    display: flex;
    align-items: center;
    gap: 20%
}
.container img{
    width: 25%;
    margin-top:5%;
    margin-left:10%;
    border-radius:10%
}
.tContainer {
    display: column;
}
.hContainer {
    display: flex;
}
.hContainer h1{
    font-size: 250%;
    font-family: Georgia;
}
.tContainer h2{
    margin-top: 5%;
    font-size: 150%;
}
.tContainer p{
    margin-top: 3%;
}
